# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kaspa\OneDrive\03_Kaspar Schneider Privat\30_Projekte\PythonTools\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

csv-plugin.xml
